In [191]:
import pandas as pd

In [192]:
data = [[1, 'Alice Johnson'], [2, 'Bob Smith'], [3, 'Carol Davis'], [4, 'David Wilson'], [5, 'Emma Brown']]
employees = pd.DataFrame(data,columns={
    'employee_id': pd.Series(dtype='int'),
    'name': pd.Series(dtype='str')
})
data = [[1, 1, '2023-01-15', 2], [2, 1, '2023-04-15', 3], [3, 1, '2023-07-15', 4], [4, 1, '2023-10-15', 5], [5, 2, '2023-02-01', 3], [6, 2, '2023-05-01', 2], [7, 2, '2023-08-01', 4], [8, 2, '2023-11-01', 5], [9, 3, '2023-03-10', 1], [10, 3, '2023-06-10', 2], [11, 3, '2023-09-10', 3], [12, 3, '2023-12-10', 4], [13, 4, '2023-01-20', 4], [14, 4, '2023-04-20', 4], [15, 4, '2023-07-20', 4], [16, 5, '2023-02-15', 3], [17, 5, '2023-05-15', 2]]
performance_reviews = pd.DataFrame(data,columns={
    'review_id': pd.Series(dtype='int'),
    'employee_id': pd.Series(dtype='int'),
    'review_date': pd.Series(dtype='datetime64[ns]'),
    'rating': pd.Series(dtype='float')  # Use float to accommodate decimal ratings
})

In [193]:
df = pd.merge(employees,performance_reviews,on='employee_id')

In [194]:
df['number_of_reviews'] = df.groupby('name')['review_id'].transform('count')

In [195]:
df = df[df['number_of_reviews']>=3]

In [196]:
df_sorted = df.sort_values(['name','review_date'],ascending=[True,False])
df_sorted = df_sorted.groupby('name').head(3)

In [197]:
rating=df_sorted.sort_values(['name','review_date'])
rating = rating.groupby('name')['rating'].apply(list)
rating

name
Alice Johnson    [3, 4, 5]
Bob Smith        [2, 4, 5]
Carol Davis      [2, 3, 4]
David Wilson     [4, 4, 4]
Name: rating, dtype: object

In [198]:
def check_if_good(list):
    if len(list) == 3 and list[0] < list[1] < list[2]:
        return  list[2] - list[0]

In [199]:
improved_employees = rating.apply(check_if_good)
improved_employees=improved_employees.dropna()
improved_employees=improved_employees.reset_index()
improved_employees.columns=['name','improvement_score']

In [ ]:
improved_employees

            name  improvement_score
0  Alice Johnson                2.0
1      Bob Smith                3.0
2    Carol Davis                2.0